.page-choose {
	display: flex;
	justify-content: center;
	align-items: center;
	.wrapper {
		height: 16.24rem;
		.logo {
			width: 91.067%;
			top: 14%;
		}
		.btn-back {
			width: 13.6%;
			top: 19%;
		}
		.box-swiper {
			width: 69.334%;
			height: 7.7rem;
			top: 21%;
			.swiper-slide {
				background: url('https://ikea-mrm.woaap.com/images/paint/choose/swiperbg.png') no-repeat;
            	background-size: 100% 100%;
            	overflow: hidden;
            	.box {
            		width: 95.2%;
            		height: 98%;
            		left: 1%;
            		border-radius: 0.5rem;
            		overflow: hidden;
            		img.full-w {
            			vertical-align: bottom;
            		}
            		.text {
            			width: 40%;
            			top: 4%;
            			left: 6%;
            		}
            	}
			}
		}
		.swiper-button-prev, .swiper-button-next {
    		width: 13.4%;
    		height: 1.5rem;
    		top: 44%;
    	}
    	.swiper-button-prev {
    		left: 0;
    		background: url('https://ikea-mrm.woaap.com/images/paint/choose/left.png') no-repeat;
    		background-size: 100% auto;
    	}
    	.swiper-button-next {
    		right: 0;
    		background: url('https://ikea-mrm.woaap.com/images/paint/choose/right.png') no-repeat;
    		background-size: 100% auto;
    	}
		.tip {
			top: 71%;
		}
		.btn-start {
			width: 3.86rem;
			height: 1.1rem;
			top: 76%;
			font-size: 0.36rem;
			line-height: 1rem;
			background: url('https://ikea-mrm.woaap.com/images/paint/btnbg.png') no-repeat;
			background-size: 100% auto;
		}
	}
}