/* 2020/02/27 build */
/* pos */
.fixed {
	position: fixed;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
}
/* abs */
.top {
	top: 0;
}
.bottom {
	bottom: 0;
}
.left {
	left: 0;
}
.right {
	right: 0;
}
/* float */
.fl {
	float: left;
}
.fr {
	float: right;
}
/* center */
.center {
	margin-left: auto;
	margin-right: auto;
}
/* text */
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
/* width */
.full-w {
	width: 100%;
}
.full-h {
	height: 100%;
}
/* font */
.fontsize0 {
	font-size: 0;
}
.lineheight0 {
	line-height: 0;
}
.bold500 {
	font-weight: 500;
}
.bold700 {
	font-weight: 700;
}
.bold900 {
	font-weight: 900;
}
/* color */
.grey {
	color: #666;
}
.white {
	color: #fff;
}
.bg-white {
	background: #fff;
}
/* clear */
.clearfix:after {
    content: "";  /*设置内容为空*/
    height: 0;  /*高度为0*/
    line-height: 0;  /*行高为0*/
    display: block;  /*将文本转为块级元素*/
    visibility: hidden;  /*将元素隐藏*/
    clear: both;  /*清除浮动*/
}
.clearfix {
    zoom: 1;  /*为了兼容IE*/
}
.pointer {
	cursor: pointer;
}
.hide {
	display: none;
}
/* fade */
.fade-enter {
    opacity: 0;
}
.fade-enter-to {
    opacity: 1;
}
.fade-enter-active {
    transition: 0.4s;
}
.fade-leave {
    opacity: 1;
}
.fade-leave-to {
    opacity: 0;
}
.fade-leave-active {
    transition: 0.4s;
}
/* modal */
.modal {
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
}
.modal-loading {
	background: none;
}
.loader {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.2);
    border-top: 0.2rem solid #c00000;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
