.page-home {
	display: flex;
	justify-content: center;
	align-items: center;
	.wrapper {
		height: 16.24rem;
		.logo {
			width: 91.067%;
			top: 14%;
		}
		.banner {
			top: 19%;
		}
		.btn-start {
			width: 3.86rem;
			height: 1.1rem;
			top: 76%;
			font-size: 0.36rem;
			line-height: 1rem;
			background: url('https://ikea-mrm.woaap.com/images/paint/btnbg.png') no-repeat;
			background-size: 100% auto;
		}
	}
}