.page-loading {
	// height: 81.2rem;
	// top: 50%;
	// // background: url('https://ikea-mrm.woaap.com/images/paint/bg.png') no-repeat;
	// // background-size: 100% 100%;
	// transform: translate(0, -50%);
	display: flex;
	// flex-direction: column;
	justify-content: center;
	align-items: center;
	
	.text {
		font-size: 0.36rem;
		line-height: 1rem;
		background: #f4f4f4;
	}
}