.page-paint {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('https://ikea-mrm.woaap.com/images/paint/bg.png') no-repeat;
	background-size: 100% 100%;
	.wrapper {
		height: 16.24rem;
		.btn-back {
			width: 13.6%;
			top: 19%;
		}
		.line {
			width: 8.93%;
			top: -3%;
		}
		.line1 {
			left: 17%;
		}
		.line2 {
			right: 17%;
		}
		.bg-paint {
			width: 75.2%;
			height: 7.5rem;
			top: 16.4%;
			background: url('https://ikea-mrm.woaap.com/images/paint/draw/paintbg.png') no-repeat;
			background-size: 100% 100%;
			.paintbox {
				width: 98%;
				height: 7.3rem;
				top: 0.4%;
				left: 0.8%;
				border-radius: 0.2rem;
				background: #fff;
				overflow: hidden;
			}
		}
		.box-swiper {
			height: 1.02rem;
			top: 68%;
    		.bg-swiper {
    			bottom: -0.1%;
    			background: #fff;
    			border-top: 0.02rem solid #afafaf;
    			border-bottom: 0.02rem solid #afafaf;
    		}
			.pans {
				width: 90%;
				height: 150%;
				display: flex;
				justify-content: space-around;
    			flex-direction: row;
				overflow: hidden;
				img {
					width: 7.26%;
					height: 2rem;
					margin-top: 9%;
				}
			}
			.swiper-button-prev, .swiper-button-next {
				width: 4%;
				height: 36%;
				top: 76%;
				background-size: 100% auto;
			}
		}
		.tip {
			top: 63%;
		}
		.btns {
			width: 90%;
			height: 1rem;
			top: 76%;
			display: flex;
			justify-content: space-between;
			.btn-reset, .btn-done {
				width: 3.05rem;
				height: 1.2rem;
				font-size: 0.36rem;
				line-height: 1rem;
			}
			.btn-reset {
				background: url('https://ikea-mrm.woaap.com/images/paint/btnbg1.png') no-repeat;
				background-size: 100% auto;
			}
			.btn-done {
				background: url('https://ikea-mrm.woaap.com/images/paint/btnbg2.png') no-repeat;
				background-size: 100% auto;
			}
		}
	}
}