.page-poster {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('https://ikea-mrm.woaap.com/images/paint/bg.png') no-repeat;
	background-size: 100% 100%;
	.wrapper {
		height: 16.24rem;
	}
	.logo {
		width: 6.83rem;
	    height: 0.87rem;
	    position: absolute;
	    top: 2.5rem;
	    left: 50%;
	    transform: translate(-50%, 0);
	}
	.top {
	    width: 0.67rem;
	    height: 3.24rem;
	    position: absolute;
	    top: 0.5rem;
	    z-index: 1;
	}
	.top1 {left: 1.3rem;}
	.top2 {right: 1.3rem;}
	.dialog {
	    width: 2.36rem;
	    height: 1.49rem;
	    position: absolute;
	    top: 2.5rem;
	    left: 3.3rem;
	    z-index: 1;
	}
	.paintbg {
	    width: 5.67rem;
	    height: 7.65rem;
	    // width: 282px;
	    // height: 380px;
	    background: url('https://ikea-mrm.woaap.com/images/paint/draw/paintbg.png') no-repeat;
	    background-size: 100% 100%;
	    position: absolute;
	    top: 3.65rem;
	    left: 50%;
	    transform: translate(-50%,0);
	    .paint {
	        width: 5.62rem;
	        height: 7.52rem;
	        border-radius: 0.2rem;
	        position: absolute;
	        border: 0.02rem solid #000000;
	        box-sizing: border-box;
	        overflow: hidden;
	        img{
	             width: 5.72rem;
	            height: 7.62rem;
	            position: absolute;
	            top: 50%;
	            left: 50%;
	            transform: translate(-50%,-50%);
	        }
	    }
	}
	.tip {
	    width: 7.5rem;
	    height: 0.47rem;
	    position: absolute;
	    top: 11.7rem;
	}
	.postURL {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    z-index: 999;
	    opacity: 0;
	}
	.postbg {
	    width: 7.5rem;
	    height: 13.34rem;
	    background-image: url('../../assets/images/bg.png');
	    position: absolute;
	    left: -100vw;
	    .bg {
	        width: 7.5rem;
	        height: 13.34rem;
	        position: absolute;
	        bottom: 0;
	    }
	    .topgrand {
	        position: absolute;
	        width: 7.5rem;
	        height: 11.13rem;
	        top: 0.4rem;
	        left: 50%;
	        transform: translate(-50%,0);
	    }
	    .qrcode {
	        position: absolute;
	        width: 6.25rem;
	        height: 9.77rem;
	        top: 2.38rem;
	        left: 50%;
	        transform: translate(-50%,0);
	    }
	    .ppaint {
	        position: absolute;
	        width: 5.75rem;
	        height: 7.75rem;
	        left: 0.92rem;
	        top: 2.37rem;
	        border-radius: 0.3rem;
	        border: 0.02rem solid #000000;
	        box-sizing: border-box;
	        overflow: hidden;
	        img {
	            width: 5.85rem;
	            height: 7.85rem;
	            position: absolute;
	            top: 50%;
	            left: 50%;
	            transform: translate(-50%,-50%);
	        }
	    }
	    .plogo {
	        position: absolute;
	        width: 1.07rem;
	        height: 0.44rem;
	        right: 0.45rem;
	        bottom: 0.37rem;
	    }
	    .inter {
	        position: absolute;
	        width: 2.16rem;
	        height: 0.15rem;
	        left: 0.2rem;
	        bottom: 0.15rem;
	    }
	}
	.btnsmall {
	    width: 3.05rem;
	    height: 1rem;
	    font-weight: 700;
	    font-family: "黑体";
	    font-size: 0.36rem;
	    box-sizing: border-box;
	    padding-left: 0.8rem;
	    line-height: 0.9rem;
	}
	.btnblue {
	    background: url(https://ikea-mrm.woaap.com/images/paint/btnbg1.png) no-repeat;
	    background-size: 100% 100%;
	}
	.btnyellow {
	    background: url(https://ikea-mrm.woaap.com/images/paint/btnbg2.png) no-repeat;
	    background-size: 100% 100%;
	}
	.pbtn1 {
	    position: absolute;
	    top: 12.5rem;
	    left: 0.38rem;
	    z-index: 1;
	}
	.pbtn2 {
	    position: absolute;
	    top: 12.5rem;
	    right: 0.38rem;
	    z-index: 9999;
	}
}