.page-preview {
	display: flex;
	justify-content: center;
	align-items: center;
	.wrapper {
		height: 16.24rem;
		.logo {
			width: 91.067%;
			top: 14%;
		}
		.btn-back {
			width: 13.6%;
			top: 19%;
		}
		.box-preview {
			height: 7.9rem;
			top: 22%;
			display: flex;
			overflow-x: scroll;
			.start {
				margin-left: 4%;
			}
			.map {
				height: 88%;
				display: flex;
				margin-top: 6%;
				border-top: 0.1rem solid #cae3fc;
    			border-bottom: 0.1rem solid #cae3fc;
			}
			.block {
				padding-right: 4%;
			}
		}
		.tip {
			top: 71%;
		}
		.btn-start {
			width: 3.86rem;
			height: 1.1rem;
			top: 76%;
			font-size: 0.36rem;
			line-height: 1rem;
			background: url('https://ikea-mrm.woaap.com/images/paint/btnbg.png') no-repeat;
			background-size: 100% auto;
		}
	}
}