<style lang="scss" scoped src="@/assets/css/choose.scss"></style>

<template>
	<div class="page-choose abs top left full-w full-h">
		<div class="wrapper abs left full-w full-h">
	        <!-- bg -->
	        <img class="bg abs top left full-w" src="https://ikea-mrm.woaap.com/images/paint/homebg.png">
	        <!-- logo -->
	        <img class="logo abs left right center" src="https://ikea-mrm.woaap.com/images/paint/logo.png">
	        <!-- back -->
	        <img class="btn-back abs left" src="https://ikea-mrm.woaap.com/images/paint/back.png" @click="goBack">
	        <!-- swiper -->
	        <div class="box-swiper abs left right center">
	        	<div class="swiper-container maps full-h">
	        		<div class="swiper-wrapper">
	        			<div class="swiper-slide">
		                    <div class="box abs">
		                        <img class="abs left bottom full-w" src="https://ikea-mrm.woaap.com/images/paint/map/china.png">
		                        <img class="abs text" src="https://ikea-mrm.woaap.com/images/paint/choose/china-t.png">
		                    </div>
		                </div>
		                 <div class="swiper-slide">
		                    <div class="box abs">
		                        <img class="abs left bottom full-w" src="https://ikea-mrm.woaap.com/images/paint/map/italy.png">
		                        <img  class="abs text" src="https://ikea-mrm.woaap.com/images/paint/choose/italy-t.png">
		                    </div>
		                </div>
		                 <div class="swiper-slide">
		                    <div class="box abs">
		                    	<img class="abs left bottom full-w" src="https://ikea-mrm.woaap.com/images/paint/map/america.png">
		                        <img class="abs text" src="https://ikea-mrm.woaap.com/images/paint/choose/america-t.png">
		                    </div>
		                </div>
		                 <div class="swiper-slide">
		                    <div class="box abs">
		                    	<img class="abs left bottom full-w" src="https://ikea-mrm.woaap.com/images/paint/map/brazil.png">
		                        <img class="abs text" src="https://ikea-mrm.woaap.com/images/paint/choose/brazil-t.png">
		                    </div>
		                </div>
		                 <div class="swiper-slide">
		                    <div class="box abs">
		                    	<img class="abs left bottom full-w" src="https://ikea-mrm.woaap.com/images/paint/map/egypt.png">
		                        <img class="abs text" src="https://ikea-mrm.woaap.com/images/paint/choose/egypt-t.png">
		                    </div>
		                </div>
		                 <div class="swiper-slide">
		                    <div class="box abs">
		                    	<img class="abs left bottom full-w" src="https://ikea-mrm.woaap.com/images/paint/map/australia.png">
		                        <img class="abs text" src="https://ikea-mrm.woaap.com/images/paint/choose/australia-t.png">
		                    </div>
		                </div>
		                 <div class="swiper-slide">
		                    <div class="box abs">
		                    	<img class="abs left bottom full-w" src="https://ikea-mrm.woaap.com/images/paint/map/iran.png">
		                        <img class="abs text" src="https://ikea-mrm.woaap.com/images/paint/choose/iran-t.png">
		                    </div>
		                </div>
		                 <div class="swiper-slide">
		                    <div class="box abs">
		                    	<img class="abs left bottom full-w" src="https://ikea-mrm.woaap.com/images/paint/map/sweden.png">
		                        <img class="abs text" src="https://ikea-mrm.woaap.com/images/paint/choose/sweden-t.png">
		                    </div>
		                </div>
	        		</div>
	        	</div>
	        </div>
	        <div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
	        <!-- tip -->
	        <img class="tip abs left full-w" src="https://ikea-mrm.woaap.com/images/paint/choose/tips.png">
	        <!-- start -->
	        <div class="btn-start abs left right center text-center bold900" @click="toPaint">确认选择</div>
	    </div>
	</div>
</template>

<script src="@/assets/js/choose.js"></script>
