<style lang="scss" scoped src="@/assets/css/home.scss"></style>

<template>
	<div class="page-home abs top left full-w full-h">
		<div class="wrapper abs left full-w full-h">
	        <!-- bg -->
	        <img class="bg abs top left full-w" src="https://ikea-mrm.woaap.com/images/paint/homebg.png">
	        <!-- logo -->
	        <img class="logo abs left right center" src="https://ikea-mrm.woaap.com/images/paint/logo.png">
	        <!-- banner -->
	        <img class="banner abs top left full-w" src="https://ikea-mrm.woaap.com/images/paint/homemain.png">
	        <!-- start -->
	        <div class="btn-start abs left right center text-center bold900" @click="toPreview">立即开玩</div>
	    </div>
	</div>
</template>

<script src="@/assets/js/home.js"></script>
