<style lang="scss" scoped src="@/assets/css/loading.scss"></style>

<template>
	<div class="page-loading abs top left full-w full-h">
	        <div class="text abs left right text-center" :[attrname]="word">{{ word }} {{ loadtext }}</div>
	</div>
</template>

<script src="@/assets/js/loading.js"></script>
