<style lang="scss" scoped src="@/assets/css/poster.scss"></style>

<template>
	<div class="page-poster abs top left full-w full-h">
		<div class="wrapper abs left full-w full-h">
	        <!-- logo -->
	        <img class="logo"  src="https://ikea-mrm.woaap.com/images/paint/logo.png">
	        <img class="top top1" src="https://ikea-mrm.woaap.com/images/paint/draw/top.png">
		    <img class="top top2" src="https://ikea-mrm.woaap.com/images/paint/draw/top.png">
		    <img class="dialog" src="https://ikea-mrm.woaap.com/images/paint/draw/dialog.png">
		    <div class="paintbg" >
		        <div  class="paint">
		            <img :src="$root.paintURL">
		        </div>
		    </div>
	        <!-- tip -->
	        <img class="tip" src="https://ikea-mrm.woaap.com/images/paint/draw/tips.png">
	        <div class="pbtn1 btnsmall btnblue">长按保存</div>
	        <div class="pbtn2  btnsmall btnyellow">点亮勋章</div>
	        <img class="postURL" @touchstart="touchstart" @touchend="touchend" :src="$root.postURL">
	      	<div class="postbg" ref="postbg">
	            <img class="bg" src="../assets/images/otherbg.png">
	            <img class="topgrand" src="../assets/images/topbrand1.png">
	            <img class="qrcode" src="../assets/images/qrcode1.png">
	            <div class="ppaint">
	                <img  :src="$root.paintURL">
	            </div>
	            
	            <img class="plogo" src="../assets/images/logo.png">
	            <img class="inter" src="../assets/images/inter.png">
	      	</div>
	      	<div class="popup abs full-w bg-white" v-if="isshow">
	          	<div class="popmain">
	              	<img @click="close(1)" class="close" src="https://ikea-mrm.woaap.com/images/paint/close.png">
	              	<img class="pop1 full-w" src="https://ikea-mrm.woaap.com/images/paint/pop1.png">
	              	<div @click="close(2)" class="popupbtn btnsmall btnyellow">返回保存</div>
	          	</div>
	      	</div>
	    </div>
	</div>
</template>

<script src="@/assets/js/poster.js"></script>
