<style lang="scss" scoped src="@/assets/css/preview.scss"></style>

<template>
	<div class="page-preview abs top left full-w full-h">
		<div class="wrapper abs left full-w full-h">
	        <!-- bg -->
	        <img class="bg abs top left full-w" src="https://ikea-mrm.woaap.com/images/paint/homebg.png">
	        <!-- logo -->
	        <img class="logo abs left right center" src="https://ikea-mrm.woaap.com/images/paint/logo.png">
	        <!-- back -->
	        <img class="btn-back abs left" src="https://ikea-mrm.woaap.com/images/paint/back.png" @click="goBack">
	        <!-- preview -->
	        <div class="box-preview abs left full-w">
	        	<img class="start full-h" src="https://ikea-mrm.woaap.com/images/paint/start.png">
	        	<div class="map">
	        		<img class="china full-h" src="https://ikea-mrm.woaap.com/images/paint/map/china.png">
	                <img class="italy full-h" src="https://ikea-mrm.woaap.com/images/paint/map/italy.png">
	                <img class="america full-h" src="https://ikea-mrm.woaap.com/images/paint/map/america.png">
	                <img class="brazil full-h" src="https://ikea-mrm.woaap.com/images/paint/map/brazil.png">
	                <img class="egypt full-h" src="https://ikea-mrm.woaap.com/images/paint/map/egypt.png">
	                <img class="australia full-h" src="https://ikea-mrm.woaap.com/images/paint/map/australia.png">
	                <img class="iran full-h" src="https://ikea-mrm.woaap.com/images/paint/map/iran.png">
	                <img class="sweden full-h" src="https://ikea-mrm.woaap.com/images/paint/map/sweden.png">
	        	</div>
	        	<img class="end full-h" src="https://ikea-mrm.woaap.com/images/paint/end.png">
	        	<div class="block"></div>
	        </div>
	        <!-- tip -->
	        <img class="tip abs left full-w" src="https://ikea-mrm.woaap.com/images/paint/tips.png">
	        <!-- start -->
	        <div class="btn-start abs left right center text-center bold900" @click="toChoose">开始填色</div>
	    </div>
	</div>
</template>

<script src="@/assets/js/preview.js"></script>
