<style lang="scss" src="@/assets/css/base.scss"></style>
<style lang="scss" src="@/assets/css/common.scss"></style>

<template>
    <div id="app" class="rel full-h">
        <!-- <music></music> -->
        <transition name="fade" mode="out-in">
            <router-view />
        </transition>
    </div>
</template>

<script>
    // import Music from '@/components/music.vue'; // music
    // import { wxshare } from '@/libs/wxapi';
    export default {
        name: 'App',
        components: {
            // [Music.name]: Music
        },
        mounted() {
            // wxshare();
        },
        methods: {
            //
        }
    };
</script>